<div class="col-md-3"  style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
    <form class="form-horizontal" ng-submit="saveShop()">
        <fieldset >
            <legend>SHOP</legend>
            <div class="form-group">
                <label for="category" class="control-label col-xs-3" ><span class="label label-info">CATEGORY:</span></label>
                <div class="col-xs-9">
                    <select type="text" ng-model="shop.category" class="form-control" id="category" placeholder="Category" readonly>
                        <option value="CUCA">CUCA</option>
                        <option value="FOOD">FOOD</option>
                        <option value="TAWA">TAWA</option>
                        <option value="ETHN">ETHN</option>
                        <option value="DRIN">DRIN</option>
                        <option value="BEER">BEER</option>
                        <option value="SEDL">SEDL</option>
                        <option value="MUSI">MUSI</option>
                        <option value="CURI">CURI</option>
                        <option value="PAPE">PAPE</option>
                        <option value="BEBS">BEBS</option>
                        <option value="LESC">LESC</option>
                        <option value="HINS">HINS</option>
                        <option value="HOHY">HOHY</option>
                        <option value="CONV">CONV</option>
                        <option value="HAND">HAND</option>
                        <option value="SHFA">SHFA</option>
                        <option value="WINE">WINE</option>
                        <option value="VINT">VINT</option>
                        <option value="VINY">VINY</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label for="Name" class="control-label col-xs-3"><span class="label label-info">NAME:</span></label>
                <div class="col-xs-9">
                    <input type="text" ng-model="shop.name" class="form-control" id="name" placeholder="Name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label col-xs-3"><span class="label label-info">DESCRIPTION:</span></label>
                <div class="col-xs-9">
                    <textarea rows="4" ng-model="shop.description" class="form-control" id="description" placeholder="Description" maxlength="500"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Website" class="control-label col-xs-3"><span class="label label-info">WEBSITE:</span></label>
                <div class="col-xs-9">
                    <input type="text" ng-model="shop.website" class="form-control" id="website" placeholder="Website" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label col-xs-3"><span class="label label-info">EMAIL:</span></label>
                <div class="col-xs-9">
                    <input type="text" ng-model="shop.email" class="form-control" id="email" placeholder="Email" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label for="Phone" class="control-label col-xs-3"><span class="label label-info">PHONE:</span></label>
                <div class="col-xs-9">
                    <input type="text" ng-model="shop.phone" class="form-control" id="phone" placeholder="Phone" maxlength="15">
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="control-label col-xs-3"><span class="label label-info">ADDRESS:</span></label>
                <div class="col-xs-9">
                    <input type="text" ng-model="shop.street" class="form-control" id="street" placeholder="Street Address" readonly>
                    <input type="text" ng-model="shop.housenumber" class="form-control" id="houseNumber" placeholder="House Number">
                </div>
            </div>
        </fieldset>
        <!--
          opening hours
        -->
        <span>Opening hours. <i>format: 0000 - 2359</i></span>
        <div class="form-group">
            <label for="Monday" class="control-label col-xs-3"><span class="label label-info">MONDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayNullOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayNullClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Tuesday" class="control-label col-xs-3"><span class="label label-info">TUESDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayOneOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayOneClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Wednesday" class="control-label col-xs-3"><span class="label label-info">WEDNESDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayTwoOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayTwoClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Thursday" class="control-label col-xs-3"><span class="label label-info">THURSDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayThreeOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayThreeClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Friday" class="control-label col-xs-3"><span class="label label-info">FRIDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayFourOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayFourClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Saturday" class="control-label col-xs-3"><span class="label label-info">SATURDAY</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.dayFiveOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.dayFiveClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>
        <div class="form-group">
            <label for="Sunday" class="control-label col-xs-3"><span class="label label-info">SUNDAY:</span></label>
            <div class="col-xs-4">
                <input type="text" ng-model="shop.daySixOpen" class="form-control" id="street" placeholder="open from" maxlength="4" minlength="4">
                <input type="text" ng-model="shop.daySixClose" class="form-control" id="houseNumber" placeholder="scloses at" maxlength="4" minlength="4">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>