
<div class="col-md-3"  style="border: thin lightblue solid; border-radius: 5px;padding: 1em;">
        <form class="form-horizontal" ng-controller="View3Ctrl">
        <fieldset >
          <legend>Shop ID: {{shop.id}}</legend>
          <div class="form-group">
            <label for="category" class="control-label col-xs-3" ><span class="label label-info">CATEGORY:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.category" class="form-control" id="category" placeholder="Category">
            </div>
          </div>
          <div class="form-group">
            <label for="Name" class="control-label col-xs-3"><span class="label label-info">NAME:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.name" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="Description" class="control-label col-xs-3"><span class="label label-info">DESCRIPTION:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.description" class="form-control" id="description" placeholder="Description">
            </div>
          </div>
          <div class="form-group">
            <label for="Website" class="control-label col-xs-3"><span class="label label-info">WEBSITE:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.website" class="form-control" id="website" placeholder="Website">
            </div>
          </div>
          <div class="form-group">
            <label for="Email" class="control-label col-xs-3"><span class="label label-info">EMAIL:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="Phone" class="control-label col-xs-3"><span class="label label-info">PHONE:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.phone" class="form-control" id="phone" placeholder="Phone">
            </div>
          </div>
          <div class="form-group">
            <label for="Address" class="control-label col-xs-3"><span class="label label-info">ADDRESS:</span></label>
            <div class="col-xs-9">
              <input type="text" ng-model="shop.address" class="form-control" id="address" placeholder="Address">
            </div>
          </div>
        </fieldset>
      </form>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>