<style>
    #mapDiv {
        background-image: url("app/view1/images/clean-map.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        width:100%;
    }

    .shop {
        position: absolute;
        font-size: 0.7vw;

    }
</style>
</head>
<body>

    <div id="mapDiv" map-dir="">
        <div  ng-repeat="shop in shops">
            <span ng-click="showDialog(shop)" class="shop" style="left: {{shop.x}}%; top: {{shop.y}}%; transform: rotate({{shop.angle}}deg);">{{shop.name}}</span>
        </div>
    </div>

